#head-text {
    color: $main-color;
    font-family: "Poiret One", cursive;
    font-size: 1em;
    text-align: center;
    padding-bottom: 30px;

}

.container {
    font-family: "Poiret One", cursive;
    font-weight: bold;

}