.material-icons {
    vertical-align: middle !important;
    font-size: 48px;
    padding-bottom: 3px;
}

#toggler-icon {
    float: right;
    color: $main-color;
}

.fa-utensils {
    color: $main-color;

}

#head-icon {
    color: $main-color;
    font-family: "Fredericka the Great", cursive;
    font-size: 3em;
    text-align: center;
    font-weight: lighter;
}